name: Notify Translators

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  notify:
    if: ${{ !contains(github.event.head_commit.message, 'notify') }}
  
    runs-on: ubuntu-latest
    timeout-minutes: 3
    env:
      TERM: dumb

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r .github/requirements.txt

      - name: Notify Telegram
        run: python .github/notify_telegram.py
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_DESTINATION: ${{ secrets.TELEGRAM_DESTINATION }}
